$trasition-time: 2s;

@mixin tablet {
  @media screen and (min-width: 760px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@keyframes flash {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: black;
  flex-direction: column;
  color: red;
  font-family: "Science Gothic", sans-serif;
}

.metalnome {
  &__wrapper {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    border-radius: 6px;
    padding: 6rem;
  }
  &__blinker-wrapper {
    width: 333px;
    height: 333px;
  }
  &__title {
    font-family: "Metal Mania", sans-serif;
    font-size: 6rem;
    margin: 0;
    margin-top: -33px;
  }
  &__blinker {
    position: absolute;
    width: inherit;
    height: auto;
    opacity: 0;
    &--on {
      animation: flash $trasition-time alternate ease-out;
    }
  }
  &__blinker--base {
    position: absolute;
    width: inherit;
    height: auto;
  }
  &__button{
    border: red 1px solid;
    border-radius: 5px; 
  }
  &__input-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__bpm {
    font-family: "Science Gothic", sans-serif;
    width: 60%;
    padding-left: 4px;
    box-sizing: border-box;
    border: red 1px solid;
    border-radius: 5px;
    background-color: black;
    color: red;
    appearance: none;
  }
  &__bpm::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;

  }
  &__bpm::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;

  }
  &__groove{
    font-family: "Science Gothic", sans-serif;
    width: 60%;
    padding-left: 1px;
    box-sizing: border-box;
    border: red 1px solid;
    border-radius: 5px;
    background-color: black;
    color: red;
  }
}
